<link type="text/css" href="__PUBLIC__/css/manuscript.css" rel="stylesheet"/>
<script type="text/javascript" src="__PUBLIC__/javascript/manuscript.js"></script>

<div id="total-frame">
	<div id="right-frame">
		<div id="right-title">
			<a>我的投稿</a>
		</div>
		<div id="right-content">
			<table id="content-table">
				<for start="0" end="8" name="manuscriptIndex">
					<if condition="$manuscriptMaintitle[$manuscriptIndex] neq NULL">
						<tr>
							<td>
								<table> 
									<tr>
										<td class="content-td1"><a class="title" href="{$manuscriptHref[$manuscriptIndex]}" target="_blank">{$manuscriptMaintitle[$manuscriptIndex]}</a></td>
										<td rowspan="2"><a class="{$manuscriptStatusStyl[$manuscriptIndex]}">{$manuscriptStatus[$manuscriptIndex]}</a></td>
									</tr>
									<tr>
										<td class="content-td1"><a class="date-time">{$manuscriptCreatetime[$manuscriptIndex]}</a><a class="delete">删除</a></td>
									</tr>
								</table>
							</td>
						</tr>
					</if>
				</for>
			</table>
			<div id="pages">
				{$pageShow}
			</div>
		</div>
	</div>
	<div id="left-frame">
		<table id="top-table"> 
			<tr>
				<td>
					<img id="headimage" src="{$headimage}"/>
				</td> 
			</tr>
			<tr>
				<td>
					<a id="username">远航之帆</a>
				</td> 
			</tr> 
		</table>
		<table id="bottom-table"> 
			<tr>
				<td class="column-default">
					<a href="{:U('Contribute/index')}">我要投稿<a/>
				</td> 
			</tr>
			<tr>
				<td class="column-select">
					<a href="{:U('Manuscript/index')}">我的投稿</a>
				</td> 
			</tr>
			<tr>
				<td class="column-default">
					<a href="{:U('Collect/index')}">我的收藏<a/>
				</td> 
			</tr>
			<tr>
				<td class="column-default">
					<a href="{:U('Information/index')}">个人信息</a>
				</td> 
			</tr> 
		</table>
	</div>
</div>