{__NOLAYOUT__}
<link type="text/css" href="__PUBLIC__/css/widget/article.css" rel="stylesheet"/>

<div class="wArticle">
	<div class="wArticle-title">
		<div>
		</div>
		<a>精图排行</a>
	</div>
	<ul>
		<for start="0" end="8" name="articleIndex">
			<if condition="$wArticleMaintitle[$articleIndex] neq NULL">
				<li>
					<a class="wArticle-index">{$articleIndex+1}</a>
					<a href="{$wArticleHref[$articleIndex]}" target="_blank" class="wArticle-maintitle"><nobr>{$wArticleMaintitle[$articleIndex]}</nobr></a>
				</li>
			</if>
		</for>
	</ul>
</div>