<link type="text/css" href="__PUBLIC__/css/information.css" rel="stylesheet"/>
<script type="text/javascript" src="__PUBLIC__/javascript/information.js"></script>

<div id="total-frame">
	<div id="right-frame">
		<div id="right-title">
			<a>个人信息</a>
			<input type="button" value="修改" id="updatebutton" onclick="updateSubmitForm()"/>
		</div>
		<div id="right-content">
			<form action="{:U('Information/update')}" id="information" enctype="multipart/form-data" method="post" >
				<table id="content-table">
					<tr>
						<td class="form-td1"><a class="form-label">昵称：</a></td>
						<td class="form-td2"><input class="form-input1" id="nickname" name="nickname" type="text" value="{$nickname}" disabled="true"/></td>
						<td><a class="form-td3">1-20位字符，支持字母、数字和中文</a></td>
					</tr>
					<tr>
						<td class="form-td1"><a class="form-label">头像：</a></td>
						<td class="form-td2">
							<table>
								<tr>
									<td rowspan="2">
										<div id="imagePreview">
											
											<img id="image" src="{$headimage}" style="visibility:hidden"/>
											<img id="imageBg" src="{$headimage}"/>
										</div>
									</td>
									<td>
										<input type="file" id="imageInput" name="headimage" onchange="inputImageFile()" disabled="true"/>
									</td>
								</tr>
								<tr>
									<td><input type="button" id="imageDelete" onclick="deleteImageFile()" value="删除文件" disabled="true"/></td>
								</tr>
							</table>
						</td>
						<td><a class="form-td3">尺寸90X90最佳</a></td>
					</tr>
					<tr>
						<td class="form-td1"><a class="form-label">密码：</a></td>
						<td class="form-td2">
							<input class="form-input2" id="password"  name="password" type="password" placeholder="新密码" disabled="true"/>
							<input class="form-input2" id="repassword"  name="repassword" type="password" placeholder="确认密码" disabled="true"/>
						</td>
						<td><a class="form-td3">字母、数字和符号混搭更加安全</a></td>
					</tr>
					<tr>
						<td class="form-td1"><a class="form-label">邮箱：</a></td>
						<td class="form-td2"><input class="form-input1" id="email" name="email" type="text" value="{$email}" disabled="true"/></td>
						<td><a class="form-td3">请输入正确的邮箱格式</a></td>
					</tr>
					<tr>
						<td class="form-td1"><a class="form-label">岗位：</a></td>
						<td class="form-td2"><input class="form-input1" id="jobs" name="jobs" type="text" value="{$jobs}" disabled="true"/></td>
						<td><a class="form-td3">不超10字</a></td>
					</tr>
					<tr>
						<td class="form-td1"><a class="form-label">单位：</a></td>
						<td class="form-td2"><input class="form-input1" id="company" name="company" type="text" value="{$company}" disabled="true"/></td>
						<td><a class="form-td3">不超20字</a></td>
					</tr>
					<tr>
						<td class="form-td1"><a class="form-label">介绍：</a></td>
						<td class="form-td2"><textarea class="form-textarea" id="introduction" name="introduction" disabled="true">{$introduction}</textarea></td>
						<td><a class="form-td3">一句话介绍下自己，不超250字</a></td>
					</tr>
				</table>
			</form>
		</div>
	</div>
	<div id="left-frame">
		<table id="top-table"> 
			<tr>
				<td>
					<img id="headimage" src="{$headimage}"/>
				</td> 
			</tr>
			<tr>
				<td>
					<a id="mynickname">{$nickname}</a>
				</td> 
			</tr> 
		</table>
		<table id="bottom-table"> 
			<tr>
				<td class="column-default">
					<a>我要投稿<a/>
				</td> 
			</tr>
			<tr>
				<td class="column-default">
					<a>我的投稿</a>
				</td> 
			</tr>
			<tr>
				<td class="column-default">
					<a>我的收藏<a/>
				</td> 
			</tr>
			<tr>
				<td class="column-select">
					<a>个人信息</a>
				</td> 
			</tr> 
		</table> 
	</div>
</div>