<link type="text/css" href="__PUBLIC__/css/information.css" rel="stylesheet"/>
<script type="text/javascript" src="__PUBLIC__/javascript/information.js"></script>

<div id="total-frame">
	<div id="right-frame">
		<div id="right-title">
			<a>个人信息</a>
			<input type="button" value="更新" onclick="updateSubmitForm()"/>
			<input type="hidden" id="url" value="{:U('Imformation/update')}">
		</div>
		<div id="right-content">
			<table id="content-table"> 
				<tr>
					<td class="form-td1">
						<a class="form-label">用户名：</a>
					</td>
					<td class="form-td2">
						<input class="form-input1" id="username" type="text"/>
					</td>
					<td class="form-td3">
						<a class="form-tip">仅支持字母和数字</a>
					</td>
				</tr>
				<tr>
					<td class="form-td1">
						<a class="form-label">昵称：</a>
					</td>
					<td class="form-td2">
						<input class="form-input1" id="nickname" type="text"/>
					</td>
					<td>
						<a class="form-tip">不超10字</a>
					</td>
				</tr>
				<tr>
					<td class="form-td1">
						<a class="form-label">密码：</a>
					</td>
					<td class="form-td2">
						<input class="form-input2" id="password" type="text" placeholder="新密码"/>
						<input class="form-input2" id="repassword" type="text" placeholder="确认密码"/>
					</td>
					<td>
						<a class="form-tip">字母、数字和符号混搭更加安全</a>
					</td>
				</tr>
				<tr>
					<td rowspan="2" class="form-td1">
						<a class="form-label">头像：</a>
					</td>
					<td rowspan="2">
						<img class="form-image" src="__PUBLIC__/resource/headportrait/headimage.jpg"/>
					</td>
					<td>
						<input type="file" class="form-button" value="添加"/>
					</td>
				</tr>
				<tr>
					<td>
						<input type="button" class="form-button" value="删除文件"/>
					</td>
				</tr>
				<tr>
					<td class="form-td1">
						<a class="form-label">岗位：</a>
					</td>
					<td class="form-td2">
						<input class="form-input1" type="text"/>
					</td>
					<td>
						<a class="form-tip">不超10字</a>
					</td>
				</tr>
				<tr>
					<td class="form-td1">
						<a class="form-label">单位：</a>
					</td>
					<td class="form-td2">
						<input class="form-input1" type="text"/>
					</td>
					<td>
						<a class="form-tip">不超20字</a>
					</td>
				</tr>
				<tr>
					<td class="form-td1">
						<a class="form-label">介绍：</a>
					</td>
					<td class="form-td2">
						<textarea class="form-textarea"></textarea>
					</td>
					<td>
						<a class="form-tip">一句话介绍下自己，不超250字</a>
					</td>
				</tr>
			</table>
		</div>
	</div>
	<div id="left-frame">
		<table id="top-table"> 
			<tr>
				<td>
					<img id="headimage" src="{$headimage}"/>
				</td> 
			</tr>
			<tr>
				<td>
					<a id="mynickname">{$nickname}</a>
				</td> 
			</tr> 
		</table>
		<table id="bottom-table"> 
			<tr>
				<td class="column-default">
					<a>我要投稿<a/>
				</td> 
			</tr>
			<tr>
				<td class="column-default">
					<a>我的投稿</a>
				</td> 
			</tr>
			<tr>
				<td class="column-default">
					<a>我的收藏<a/>
				</td> 
			</tr>
			<tr>
				<td class="column-select">
					<a>个人信息</a>
				</td> 
			</tr> 
		</table> 
	</div>
</div>