<link type="text/css" href="__PUBLIC__/css/collect.css" rel="stylesheet"/>
<script type="text/javascript" src="__PUBLIC__/javascript/collect.js"></script>

<div class="pr total-frame">
	<div class="right-frame">
		<div class="right-title">
			<a>我的收藏</a>
		</div>
		<div class="right-content">
			<table class="content-table"> 
				<for start="0" end="8" name="articleIndex">
					<if condition="$articleMaintitle[$articleIndex] neq NULL">
						<tr>
							<td>
								<table> 
									<tr>
										<td class="content-td1"><a class="title" href="{$articleHref[$articleIndex]}" target="_blank">{$articleMaintitle[$articleIndex]}</a></td>
										<td rowspan="2"><a class="date-time">{$collectCreatetime[$articleIndex]}</a></td>
									</tr>
									<tr>
										<td class="content-td1"><a class="author" target="_blank">{$articleNickname[$articleIndex]}</a><a class="delete" href="{$articleDelHref[$articleIndex]}">删除</a></td>
									</tr>
								</table>
							</td>
						</tr>
					</if>
				</for>	
			</table>
			<div class="pages">
				{$pageShow}
			</div>
		</div>
	</div>
	<div class="left-frame">
		<table class="top-table"> 
			<tr>
				<td>
					<img class="headimage" src="{$headimage}"/>
				</td> 
			</tr>
			<tr>
				<td>
					<a class="username">{$nickname}</a>
				</td> 
			</tr> 
		</table>
		<table class="bottom-table"> 
			<tr>
				<td class="default">
					<a href="{:U('Contribute/index')}">我要投稿<a/>
				</td> 
			</tr>
			<tr>
				<td class="default">
					<a href="{:U('Manuscript/index')}">我的投稿</a>
				</td> 
			</tr>
			<tr>
				<td class="select">
					<a href="{:U('Collect/index')}">我的收藏<a/>
				</td> 
			</tr>
			<tr>
				<td class="default">
					<a href="{:U('Information/index')}">个人信息</a>
				</td> 
			</tr> 
		</table> 
	</div>
</div>