<link type="text/css" href="__PUBLIC__/css/special.css" rel="stylesheet"/>

<div id="total-frame" class="clearfix">
	<div id="right-frame">
		{:W('Special/index')}
		<div class="segmentation"></div>
		{:W('Article/index')}
		<div class="segmentation"></div>
		{:W('Experts/index')}
	</div>
	<div id="left-frame">
		<div id="left-title">
			<table id="achievement">
				<tr>
					<td><a class="achievement-text">收录数</a></td>
					<td rowspan="2"> <div id="achievement-segmentation"></div></td>
					<td><a class="achievement-text">阅读量</a></td>
				</tr>
				<tr>
					<td><a class="achievement-text">{$articleCount}</a></td>
					<td><a class="achievement-text">{$articleTotalReadnum}</a></td>
				</tr>
			</table>
			
			<table>
				<tr>
					<td rowspan="3"><img id="special-coverimage" src="{$special['coverimage']}"/></td>
					<td><h1 id="special-maintitle">{$special['maintitle']}</h1></td>
				</tr>
				<tr>
					<td><h2 id="special-subhead">{$special['subhead']}</h2></td>
				</tr>
				<tr>
					<td><h3 id="special-introduction">{$special['introduction']}</h3></td>
				</tr>
			</table>
		</div>
		
		<for start="0" end="8" name="articleIndex">
			<if condition="$articleCoverImage[$articleIndex] neq NULL">
				<div class="left-article">
					<table>
						<tr>
							<td rowspan="4"><img class="coverimage" src="{$articleCoverImage[$articleIndex]}"/></td>
							<td class="line1"><div class="classify1">{$articleClassification[$articleIndex]}</div><a class="classify2"></a></td>
						</tr>
						<tr>
							<td class="line2"><h2 class="title" href="{$articleHref[$articleIndex]}" target="_blank" ><nobr>{$articleMaintitle[$articleIndex]}</nobr></h2></td>
						</tr>
						<tr>
							<td class="clearfix line3"><h3><div class="introduction">{$articleIntroduction[$articleIndex]}</div></h3></td>
						</tr>
						<tr>
							<td class="line4"><a class="readnum">阅读：{$articleReadnum[$articleIndex]}</a><a class="author">作者：{$articleAuthor[$articleIndex]}</a></td>
						</tr>
					</table>
				</div>
			</if>
		</for>

		<div class="page">
			{$pageShow}
		</div>
	</div>
</div>