.notification {
	position:relative;
	width:1100px;
	left:50%;
	margin:15px 0px 0px -550px;
}

#banner {
	position:relative;
	float:left;
	width:840px;
	height:240px;
}

#banner-list > a {
	position:absolute;
}

#banner-list > a > img {
	width:840px;
	height:240px;
}

#banner-info {
	position:absolute;
	top:170px;
	left:50px;
	font-size:22px;
	font-weight:bold;
	color:#FFFFFF;
}

#banner-button {
	position:absolute;
	width:88px;
	left:50%;
	margin-left:-44px;
	top:220px;
}

#banner-button > ul{
	position:absolute;
	width:88px;
	margin:0;
	padding:0;
	list-style-type:none;
}

#banner-button > ul > li {
	float:left;
	opacity:0.2;
	width:20px;
	height:5px;
	margin:0px 1px 0px 1px;
	cursor:pointer;
	background:#FFFFFF;
	text-decoration:none;
}

#banner-button > ul > li.on {
	background-color:#FFFFFF;
	opacity:0.7;
}



.channel {
	position:relative;
	float:right;
	width:245px;
	height:240px;
	background-color:#FFFFFF;
}

.channel > a {
	position:absolute;
	width:164px;
	height:45px;
	left:50%;
	line-height:45px;
	text-align:center;
	margin-left:-82px;
	color:#FFFFFF;
	background-color:#3F7BED;
}

.channel > ul {
	position:relative;
	width:200px;
	height:150px;
	top:60px;
	padding:0px;
	left:50%;
	margin:0px 0px 0px -100px;
	border:1px solid #3F7BED;
}

.channel > ul > li {
	list-style:none;
	width:200px;
	height:30px;
}

.channel > ul > li  > a {
	position:relative;
	float:left;
	font-size:11px;
	width:100px;
	line-height:30px;
	left:15px;
}

.special {
	position:relative;
	width:1115px;
	height:208px;
	left:50%;
	margin-left:-550px;
	margin-top:15px;
}

.special > ul {
	position:relative;
	width:1115px;
	height:208px;
	margin:0px;
	padding:0px;
}

.special > ul > li {
	position:relative;
	float:left;
	width:208px;
	height:208px;
	margin-right:15px;
	list-style:none;
	background-color:#FFFFFF;
}

.special > ul > li:hover {
	box-shadow:0px 2px 5px #888888;
}

.special > ul > li > img {
	position:absolute;
	width:208px;
	height:208px;
}

.special-title {
	position:absolute;
	width:208px;
	height:80px;
	top:50%;
	margin-top:-45px;
	background-color:#000000;
	opacity:0.5;
}

.special-title > p {
	position:absolute;
	top:15px;
	margin:0px;
	width:208px;
	text-align:center;
	font-weight:800;
	font-size:20px;
	color:#FFFFFF;
}

.special-title > a {
	position:absolute;
	top:45px;
	width:208px;
	text-align:center;
	font-weight:400;
	color:#FFFFFF;
}

.content {
	position:relative;
	width:1100px;
	height:2095px;
	left:50%;
	top:45px;
	margin-left:-550px;
}

.items {
	position:absolute;
	width:840px;
	height:2110px;
}

.items > ul{
	margin:0px;
	padding:0px;
}

.items > ul > li {
	width:840px;
	height:200px;
	background-color:#FFFFFF;
	margin-bottom:2px;
	list-style:none;
}

.items > ul > li  > img{
	height:180px;
	margin:10px 10px 10px 10px;
}

.items > ul > li  > ul {
	float:right;
	width:522px;
	height:180px;
	margin:10px 10px 10px 0px;
	padding:0px;
}

.items > ul > li  > ul > li {
	list-style:none;
}

.item-firstline {
	width:512px;
	height:24px;
}

.item-secondline {
	width:512px;
	height:132px;
}

.item-thirdline {
	width:512px;
	height:24px;
}

.item-classify1 {
	float:left;
	width:80px;
	height:24px;
	line-height:24px;
	text-align:center;
	font-size:15px;
	color:#FFFFFF;
	margin-left:10px;
	background-color:#3F7BED;
}

.item-classify2 {
	float:left;
	width:0px;
	height:0px;
	border-top: 12px solid #FFFFFF;
    border-left: 12px solid #3F7BED;
    border-bottom: 12px solid #FFFFFF;
}

.item-collection-select {
	float:right;
	width:0px;
	height:0px;
	border-top: 16px solid #3F7BED;
    border-left: 12px solid #3F7BED;
    border-right: 12px solid #3F7BED;
	border-bottom: 8px solid #FFFFFF;
}

.item-collection-default {
	float:right;
	width:0px;
	height:0px;
	border-top: 16px solid #F2F2F2;
    border-left: 12px solid #F2F2F2;
    border-right: 12px solid #F2F2F2;
	border-bottom: 8px solid #FFFFFF;
}

.item-collection-default:hover {
	border-top: 16px solid #3F7BED;
    border-left: 12px solid #3F7BED;
    border-right: 12px solid #3F7BED;
	border-bottom: 8px solid #FFFFFF;
}

.item-title {
	position:relative;
	display:block;
	width:512px;
	height:24px;
	top:10px;
	left:10px;
	line-height:24px;
	font-weight:700;
	font-size:20px;
	color:#000000;
	text-decoration:none;
}

.item-overview {
	position:relative;
	display:block;
	width:512px;
	height:100px;
	top:15px;
	left:10px;
	line-height:24px;
	color:#999999;
}

.item-thirdline > a {
	float:right;
	line-height:24px;
	font-size:12px;
	margin-right:10px;
	color:#999999;
}

.pages {
	position:relative;
	width:840px;
	height:60px;
	left:50%;
	margin-left:-420px;
	background-color:#FFFFFF;
}

.pages > ul {
	position:relative;
	width:704px;
	height:30px;
	margin:0px;
	padding:0px;
	top:15px;
	left:50%;
	margin-left:-352px;
}

.num {
	width:60px;
	line-height:30px;
	color:#000000;
	background-color:#F2F2F2;
	display:inline-block;
	margin:0px 2px 0px 2px;
	text-align:center;
	text-decoration:none;
}

.num:hover{
	background-color:#3F7BED;
	color:#FFFFFF;
}

.prev {
	width:60px;
	line-height:30px;
	color:#000000;
	background-color:#F2F2F2;
	display:inline-block;
	margin:0px 2px 0px 2px;
	text-align:center;
	text-decoration:none;
}

.prev:hover{
	background-color:#3F7BED;
	color:#FFFFFF;
}

.next {
	width:60px;
	line-height:30px;
	color:#000000;
	background-color:#F2F2F2;
	display:inline-block;
	margin:0px 2px 0px 2px;
	text-align:center;
	text-decoration:none;
}

.next:hover{
	background-color:#3F7BED;
	color:#FFFFFF;
}

.current {
	width:60px;
	line-height:30px;
	color:#FFFFFF;
	background-color:#3F7BED;
	display:inline-block;
	margin:0px 2px 0px 2px;
	text-align:center;
	text-decoration:none;
}

.experts {
	position:relative;
	float:right;
	width:245px;
}

.experts-title {
	position:relative;
	width:245px;
	height:45px;
	background-color:#FFFFFF;
}

.experts-title > div {
	position:relative;
	float:left;
	width:15px;
	height:45px;
	background-color:#3F7BED;
}

.experts-title > a {
	position:relative;
	float:left;
	height:45px;
	line-height:45px;
	margin-left:10px;
}

.experts > ul {
	margin:0px;
	padding:0px;
}

.experts > ul > li {
	position:relative;
	width:245px;
	height:100px;
	list-style:none;
	background-color:#FFFFFF;
	margin:2px 0px 2px 0px;
}

.experts > ul > li > img {
	position:absolute;
	width:80px;
	height:80px;
	margin:10px 10px 10px 10px;
}

.experts-name {
	position:absolute;
	top:10px;
	left:100px;
	font-size:13px;
	font-weight:700;
}

.experts-jobs {
	position:absolute;
	top:10px;
	left:170px;
	font-size:13px;
}

.experts-specialty {
	position:absolute;
	width:130px;
	height:60px;
	top:30px;
	left:100px;
	font-size:13px;
	color:#999999;
	text-overflow:ellipsis;
	overflow:hidden
}

.clearfix:before, .clearfix:after {
	display: table;
	line-height: 0;
	content: '';
}
.clearfix:after {
	clear: both;
}
.clearfix {
	*zoom:1;
}