table {
	border-spacing:0px;
}

#total-frame {
	position:relative;
	width:1100px;
	left:50%;
	margin-left:-550px;
	padding:15px 0px 15px 0px;
}

#left-frame {
	position:relative;
	width:235px;
	height:730px;
	background-color:#FFFFFF;
}

#left-frame > table {
	width:235px;
	text-align:center;
}

#top-table {
	padding:25px 0px 25px 0px;
}

#headimage {
	width:150px;
	height:150px;
}

#username {
	line-height:35px;
	font-size:20px;
	font-weight:700;
}

.column-select{
	height:50px;
	cursor:pointer;
	border-right:5px solid #3F7BED;
	background-color:#F2F2F2;
}

.column-default{
	height:50px;
	cursor:pointer;
	background-color:#FFFFFF;
}

.column-default:hover{
	height:50px;
	background-color:#F2F2F2;
}

#bottom-table > tbody > tr > td > a{
	line-height:50px;
	font-size:18px;
	text-decoration:none;
	color:#000000;
}

#right-frame {
	float:right;
	width:850px;
	height:730px;
	background-color:#FFFFFF;
}

#right-title {
	position:relative;
	height:60px;
	width:850px;
	border-bottom:2px solid #3F7BED;
}

#right-title > a {
	line-height:60px;
	font-size:18px;
	font-weight:700;
	padding:0px 635px 0px 30px;
}

#right-content {
	position:relative;
	width:850px;
}

#content-table {
	position:relative;
	width:850px;
	border-collapse:collapse;
}

#content-table > tbody > tr{
	height:75px;
	border-bottom:2px solid #F2F2F2;
}

.title {
	text-decoration:none;
	color:#000000;
}

.date-time {
	font-size:14px;
	color:#CCCCCC;
	padding-right:20px;
}

.delete {
	font-size:14px;
	color:#CCCCCC;
}

.author {
	font-size:14px;
	color:#CCCCCC;
}

.content-td1 {
	width:740px;
	height:25px;
	padding-left:35px;
}

.pending-audit {
	font-size:16px;
	color:#3F7BED;
}

.already-passed {
	font-size:16px;
	color:#008000;
}

.not-through {
	font-size:16px;
	color:#FF0000;
}

#pages {
	position:relative;
	width:850px;
	padding:18px 70px 18px 70px;
}

.num {
	width:60px;
	line-height:30px;
	color:#000000;
	background-color:#F2F2F2;
	display:inline-block;
	margin:0px 2px 0px 2px;
	text-align:center;
	text-decoration:none;
}

.num:hover{
	background-color:#3F7BED;
	color:#FFFFFF;
}

.prev {
	width:60px;
	line-height:30px;
	color:#000000;
	background-color:#F2F2F2;
	display:inline-block;
	margin:0px 2px 0px 2px;
	text-align:center;
	text-decoration:none;
}

.prev:hover{
	background-color:#3F7BED;
	color:#FFFFFF;
}

.next {
	width:60px;
	line-height:30px;
	color:#000000;
	background-color:#F2F2F2;
	display:inline-block;
	margin:0px 2px 0px 2px;
	text-align:center;
	text-decoration:none;
}

.next:hover{
	background-color:#3F7BED;
	color:#FFFFFF;
}

.current {
	width:60px;
	line-height:30px;
	color:#FFFFFF;
	background-color:#3F7BED;
	display:inline-block;
	margin:0px 2px 0px 2px;
	text-align:center;
	text-decoration:none;
}

