<link type="text/css" href="__PUBLIC__/css/index.css" rel="stylesheet"/>
<script type="text/javascript" src="__PUBLIC__/javascript/index.js"></script>

<!-- 通知栏 -->
<div class="pr notification">
	<div class="channel">
		<a>交流频道</a>
		<ul>
			<li><a>HTML交流群：</a><a>548588839</a></li>
			<li><a>JS交流群：</a><a>548588839</a></li>
			<li><a>PHP交流群：</a><a>548588839</a></li>
			<li><a>MySQL交流群：</a><a>548588839</a></li>
			<li><a>产品交流群：</a><a>548588839</a></li>
		</ul>
	</div>
	<div class="pr" id="banner">
		<div id="banner-pic">
			<for start="0" end="8" name="carouselIndex">
				<if condition="$carouselImages[$carouselIndex] neq NULL">
					<a href="{$carouselHrefs[$carouselIndex]}"><img src="{$carouselImages[$carouselIndex]}" title="{$carouselTitles[$carouselIndex]}"/></a>
				</if>
			</for>
		</div>
		<a id="banner-tit"></a>
		<div id="banner-but">
			<ul>
				<for start="0" end="8" name="carouselIndex">
					<if condition="$carouselImages[$carouselIndex] neq NULL">
						<if condition="$carouselIndex eq 0">
							<li alt="{$carouselIndexs[$carouselIndex]}" class="on"></li>
							<else />
							<li alt="{$carouselIndexs[$carouselIndex]}"></li>
						</if>
					</if>
				</for>
			</ul>
		</div>
	</div>
</div>

<!-- 专辑栏 -->
<div class="special">
	<ul>
		<for start="0" end="5" name="specialIndex">
			<if condition="$specialImages[$specialIndex] neq NULL">
				<li>
					<img src="{$specialImages[$specialIndex]}"/>
					<div class="special-title">
						<a class="main-title" href="{$specialHrefs[$specialIndex]}" target="_blank"><nobr>{$specialMaintitles[$specialIndex]}</nobr></a>
						<a class="minor-title" href="{$specialHrefs[$specialIndex]}" target="_blank"><nobr>{$specialSubheads[$specialIndex]}</nobr></a>
					</div>
				</li>
			</if>
		</for>
	</ul>
	<a class="special-more" href="#">
		<br/><br/><br/>换<br/>一<br/>批<br/><br/><br/>
	</a>
</div>

<!-- 内容栏 -->
<div class="content clearfix">
	<!-- 其他栏 -->
	<div class="others">
		{:W('Special/index')}
		<div class="segmentation"></div>
		{:W('Article/index')}
		<div class="segmentation"></div>
		{:W('Experts/index')}
	</div>
	
	<!-- 文章栏 -->
	<div class="pr articles">
		<input type="hidden" id="collectUrl" value="{:U('Collect/collect')}">
		<ul>
			<for start="0" end="10" name="articleIndex">
				<if condition="$articleCoverImage[$articleIndex] neq NULL">
					<li>
						<img src="{$articleCoverImage[$articleIndex]}"/>
						<ul>
							<li class="article-firstline">
								<a class="article-classify1">{$articleClassification[$articleIndex]}</a>
								<div class="article-classify2"></div>
								<div class="{$articleCollect[$articleIndex]}" id="{$articleId[$articleIndex]}" onclick="collect(this)"></div>
							</li>
							<li class="article-secondline">
								<a href="{$articleHref[$articleIndex]}" target="_blank" class="article-title"><nobr>{$articleMaintitle[$articleIndex]}</nobr></a>
								<a href="{$articleHref[$articleIndex]}" target="_blank" class="article-overview">&nbsp;&nbsp;{$articleIntroduction[$articleIndex]}</a>
							</li>
							<li class="article-thirdline">
								<a>阅读：{$articleReadnum[$articleIndex]}</a>
								<a href="{$expertHref[$articleIndex]}" target="_blank">作者：{$articleNickname[$articleIndex]}</a>
							</li>
						</ul>
					</li>
				</if>
			</for>
		</ul>
		<div class="pages">
			<ul>
				{$pageShow}
			</ul>
		</div>
	</div>
</div>
