<link type="text/css" href="__PUBLIC__/css/index.css" rel="stylesheet"/>
<script type="text/javascript" src="__PUBLIC__/javascript/index.js"></script>

<!-- 通知栏 -->
<div class="pr notification">
	<div class="fr channel">
		<div class="pr channel-tit">交流频道</div>
		<table class="pr channel-con">
			<tr>
				<td>HTML交流群：</td>
				<td>548588839</td>
			</tr>
			<tr>
				<td>JS交流群：</td>
				<td>548588839</td>
			</tr>
			<tr>
				<td>PHP交流群：</td>
				<td>548588839</td>
			</tr>
			<tr>
				<td>MySQL交流群：</td>
				<td>548588839</td>
			</tr>
			<tr>
				<td>产品交流群：</td>
				<td>548588839</td>
			</tr>
		</table>
	</div>
	<div class="pr" id="banner">
		<div id="banner-pic">
			<for start="0" end="8" name="carouselIndex">
				<if condition="$carouselImages[$carouselIndex] neq NULL">
					<a href="{$carouselHrefs[$carouselIndex]}"><img src="{$carouselImages[$carouselIndex]}" title="{$carouselTitles[$carouselIndex]}"/></a>
				</if>
			</for>
		</div>
		<a id="banner-tit"></a>
		<table id="banner-but"><tr><td>
			<ul>
				<for start="0" end="8" name="carouselIndex">
					<if condition="$carouselImages[$carouselIndex] neq NULL">
						<if condition="$carouselIndex eq 0">
							<li alt="{$carouselIndexs[$carouselIndex]}" class="on"></li>
							<else />
							<li alt="{$carouselIndexs[$carouselIndex]}"></li>
						</if>
					</if>
				</for>
			</ul>
		</td></tr></table>
	</div>
</div>

<!-- 专辑栏 -->
<div class="pr special">
	<table class="fr special-more" title="2" onclick="changeALot(this)">
		<tr><td><a id="special-more">换<br/>一<br/>批</a></td></tr>
	</table>
	<ul id="specials">
		<for start="0" end="5" name="specialIndex">
			<if condition="$specialImages[$specialIndex] neq NULL">
				<li>
					<img src="{$specialImages[$specialIndex]}"/>
					<div class="pa special-title">
						<a class="pa main-title" href="{$specialHrefs[$specialIndex]}" target="_blank"><nobr>{$specialMaintitles[$specialIndex]}</nobr></a>
						<a class="pa minor-title" href="{$specialHrefs[$specialIndex]}" target="_blank"><nobr>{$specialSubheads[$specialIndex]}</nobr></a>
					</div>
				</li>
			</if>
		</for>
	</ul>
</div>

<!-- 内容栏 -->
<div class="pr content clearfix">
	<!-- 其他栏 -->
	<div class="fr others">
		{:W('Special/index')}
		<div class="segmentation"></div>
		{:W('Article/index')}
		<div class="segmentation"></div>
		{:W('Experts/index')}
	</div>
	
	<!-- 文章栏 -->
	<div class="pr articles">
		<ul>
			<for start="0" end="10" name="articleIndex">
				<if condition="$articleCoverImage[$articleIndex] neq NULL">
					<li class="article">
						<img src="{$articleCoverImage[$articleIndex]}"/>
						<ul>
							<li class="article-l1">
								<a class="fl classify1">{$articleClassification[$articleIndex]}</a>
								<div class="fl classify2"></div>
								<div class="fr {$articleCollect[$articleIndex]}" id="{$articleId[$articleIndex]}" onclick="collect(this)"></div>
							</li>
							<li class="article-l2">
								<a href="{$articleHref[$articleIndex]}" target="_blank" class="pr title"><nobr>{$articleMaintitle[$articleIndex]}</nobr></a>
								<a href="{$articleHref[$articleIndex]}" target="_blank" class="pr overview">&nbsp;&nbsp;{$articleIntroduction[$articleIndex]}</a>
							</li>
							<li class="article-l3">
								<a>阅读：{$articleReadnum[$articleIndex]}</a>
								<a href="{$expertHref[$articleIndex]}" target="_blank">作者：{$articleNickname[$articleIndex]}</a>
							</li>
						</ul>
					</li>
				</if>
			</for>
		</ul>
		<div class="pages">
			<ul>
				{$pageShow}
			</ul>
		</div>
	</div>
</div>
