<link type="text/css" href="__PUBLIC__/css/article.css" rel="stylesheet"/>
<script type="text/javascript" src="__PUBLIC__/javascript/article.js"></script>

<div class="article clearfix">
	<!-- 右边栏 -->
	<div class="right-frame">
	
		<!-- 作者栏 -->
		<table class="article-author">
			<tr><td>
				<table>
					<tr>
						<td rowspan="2"><img class="author-image" src="{$expertImage}"/></td>
						<td><a href="{$expertHref}" target="_blank" class="author-name">{$expertNickname}</a></td>
					</tr>
					<tr>
						<td><a class="author-rank">少尉</a></td>
					</tr>
				</table>
			</td></tr>
			<tr><td><hr class="line"/></td></tr>
			<tr><td>
				<a class="author-jobs">{$expertJobs}</a>
				<a class="author-company">{$expertCompany}</a>
			</td></tr>
			<tr><td><hr class="line"/></td></tr>
			<tr><td>
				<div class="author-introduct">{$expertIntroduction}</div>
			</td></tr>
		</table>
		<div class="segmentation"></div>
		{:W('Special/index')}
		<div class="segmentation"></div>
		{:W('Article/index')}
		<div class="segmentation"></div>
	</div>
	
	<!-- 左边栏 -->
	<div class="left-frame">
	
		<!-- 标题栏 -->
		<div class="article-title">
			<h1>{$articleMaintitle}</h1>
			<h2>{$articleSubhead}</h2>
		</div>
		
		<!-- 概述栏 -->
		<div class="article-text">
			<h3>{$articleIntroduction}</h3>
		</div>
		
		<!-- 图片栏 -->
		<div class="article-image">
			<if condition="$articleImage neq NULL">
				<img src="{$articleImage}"/>
			</if>
		</div>
		
		<!-- 分享栏 -->
		<div class="article-share">
			<a class="weixin" href="#"><img src="__PUBLIC__/picture/weixin.png"/>分享到微信</a>
			<a class="weibo" href="#"><img src="__PUBLIC__/picture/weibo.png"/>分享到微博</a>
			<a class="qq" href="#"><img src="__PUBLIC__/picture/qq.png"/>分享到QQ</a>
		</div>
		
		<!-- 目录栏 -->
		<div id="article-catalog" class="{$artListDisplay}">
			<a id="catalog-text" onmouseover="display()" onmouseout="disappear()">目<br>录</a>
			<div id="catalog-list" onmouseover="display()" onmouseout="disappear()">
				<ul>
					<foreach name="artListTitle" item="item" key="index" >
						<li><a class="{$artListStyle[$index]}" href="{$artListHref[$index]}" target="_blank">{$artListTitle[$index]}</a></li>
					</foreach>
				</ul>
			</div>
		</div>
	</div>
	
	
</div>
