<link type="text/css" href="__PUBLIC__/css/article.css" rel="stylesheet"/>
<div class="content-body clearfix">
	<div class="left-frame">
		<div class="content-title">
			<p>{$article['maintitle']}</p>
			<a>{$article['minortitle']}</a>
		</div>
		<div class="content-text clearfix">
			<a>{$article['introduct']}</a>
		</div>
		<div class="content-image">
			<img src="{$article['imagesrc']}"/>
		</div>
		<div class="content-share clearfix">
			<a class="weixin" href="#"><img src="__PUBLIC__/picture/weixin.png"/>分享到微信</a>
			<a class="weibo" href="#"><img src="__PUBLIC__/picture/weibo.png"/>分享到微博</a>
			<a class="qq" href="#"><img src="__PUBLIC__/picture/qq.png"/>分享到QQ</a>
		</div>
		<div id="content-catalog" class="{$style}">
			<a id="catalog-text" onmouseover="display()" onmouseout="disappear()">目<br>录</a>
			<div id="catalog-list" onmouseover="display()" onmouseout="disappear()">
				<ul>
					<li><a class="list-default" href="https://www.baidu.com">华医网结构图（一）</a></li>
					<li><a class="list-select" href="https://www.baidu.com">华医网结构图（二）</a></li>
					<li><a class="list-default" href="https://www.baidu.com">华医网结构图（三）</a></li>
					<li><a class="list-default" href="https://www.baidu.com">华医网结构图（四）</a></li>
					<li><a class="list-default" href="https://www.baidu.com">华医网结构图（五）</a></li>
					<li><a class="list-default" href="https://www.baidu.com">华医网结构图（六）</a></li>
					<li><a class="list-default" href="https://www.baidu.com">华医网结构图（七）</a></li>
					<li><a class="list-default" href="https://www.baidu.com">华医网结构图（八）</a></li>
					<li><a class="list-default" href="https://www.baidu.com">华医网结构图（九）</a></li>
					<li><a class="list-default" href="https://www.baidu.com">华医网结构图（十）</a></li>
				</ul>
			</div>
		</div>
	</div>
	<div class="right-frame">
		<div class="content-author clearfix">
			<img src="__PUBLIC__/picture/login.jpg"/>
			<a class="author-name">{$userData['nickname']}</a>
			<a class="author-jobs">{$userData['jobs']}</a>
			<a class="author-company">{$userData['company']}</a>
			<a class="author-introduct">{$userData['introduct']}</a>
		</div>
		<div class="content-recommend">
		</div>
	</div>
</div>
