<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title>逻辑</title>

	<link type="text/css" href="__PUBLIC__/css/layout/frame.css" rel="stylesheet"/>
	<link type="text/css" href="__PUBLIC__/css/layout/header.css" rel="stylesheet"/>
	<link type="text/css" href="__PUBLIC__/css/layout/footer.css" rel="stylesheet"/>
	<script type="text/javascript" src="__PUBLIC__/javascript/jquery-1.12.4.js"></script>
</head>

<body>
	<div class="page-header">
		<div class="pr header">
			<a class="pr logo"><img src="__PUBLIC__/picture/logo-white.png"/></a>
			<div class="nav">
				<ul>
					<foreach name="mainCategory" item="item">
						<li><a href="{$item['href']}">{$item['name']}</a>
							<if condition="$item['sub']|count neq 0">
								<ul>
									<foreach name="item['sub']" item="subItem">
										<li><a href="{$subCategory[$subItem]['href']}">{$subCategory[$subItem]['name']}</a></li>
									</foreach>
								</ul>
							</if>
						</li>
					</foreach>
				</ul>
			</div>
			<div class="login">
				<img src="{$headimage}"/>
				<ul>
					<foreach name="accountMenuText" item="item" key="index" >
						<li><a href="{$accountMenuUrl[$index]}">{$accountMenuText[$index]}</a></li>
					</foreach>
				</ul>
			</div>
		</div>
	</div>
	<div class="page-body">
		{__CONTENT__}
	</div>
	<div class="page-footer">
	</div>
</body>
</html>