<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title>逻辑</title>

	<link type="text/css" href="__PUBLIC__/css/layout/frame.css" rel="stylesheet"/>
	<link type="text/css" href="__PUBLIC__/css/layout/header.css" rel="stylesheet"/>
	<link type="text/css" href="__PUBLIC__/css/layout/footer.css" rel="stylesheet"/>
	<script type="text/javascript" src="__PUBLIC__/javascript/layout/header.js"></script>
	<script type="text/javascript" src="__PUBLIC__/javascript/jquery-1.12.4.js"></script>
</head>


<body>
	<div class="page-header">
		<div class="header">
			<div class="logo">
				<img src="__PUBLIC__/picture/logo-white.png"/>
			</div>
			<div class="menu">
				<ul>
					<li><a href="{:U('Index/index','category=0')}" class="{$navigation[0]}">首页</a></li>
					<li><a href="{:U('Index/index','category=1')}" class="{$navigation[1]}">技术</a></li>
					<li><a href="{:U('Index/index','category=2')}" class="{$navigation[2]}">产品</a></li>
					<li><a href="{:U('Index/index','category=3')}" class="{$navigation[3]}">经济</a></li>
					<li><a href="{:U('Index/index','category=4')}" class="{$navigation[4]}">其他</a></li>
				</ul>
			</div>
			<div class="login" id="login-image" onmouseover="showLoginMenu();" onmouseout="hideLoginMenu();">
				<img src="{$headimage}"/>
				<div class="login-menu" id="login-menu">	
					<ul>
						<foreach name="accountMenuText" item="item" key="index" >
							<li><a href="{$accountMenuUrl[$index]}">{$accountMenuText[$index]}</a></li>
						</foreach>
					</ul>
				</div>
			</div>
		</div>
	</div>
	<div class="page-body">
		<!--div class="test">
		</div-->
		{__CONTENT__}
	</div>
	<div class="page-footer">
	</div>
</body>
</html>