table {
	border-spacing:0px;
}

#total-frame {
	position:relative;
	width:1100px;
	left:50%;
	margin-left:-550px;
	padding:15px 0px 15px 0px;
}

#left-frame {
	position:relative;
	width:840px;
}

#left-title {
	position:relative;
	width:820px;
	padding:10px 10px 10px 10px;
	background-color:#FFFFFF;
	margin-bottom:15px;
}

#right-frame {
	float:right;
	width:245px;
	background-color:#FFFFFF;
}

#special-coverimage {
	height:150px;
	width:150px;
	margin:0px 10px 0px 0px;
}

#special-maintitle {
	font-size:25px;
	font-weight:700;
}

#special-subhead {
	
}

#special-introduction {
	color:#999999;
}

.left-article {
	position:relative;
	width:820px;
	padding:10px 10px 10px 10px;
	background-color:#FFFFFF;
	margin-bottom:2px;
}

.left-article > table {
	table-layout:fixed;
	width:820px;
	height:180px;
	
}

.article-coverimage {
	width:280px;
	height:180px;
	margin-right:10px;
}

.article-classify1 {
	float:left;
	width:100px;
	height:30px;
	line-height:30px;
	text-align:center;
	font-size:15px;
	color:#FFFFFF;
	background-color:#3F7BED;
}

.article-classify2 {
	float: left;
	width: 0px;
	height: 0px;
	border-top: 15px solid #FFFFFF;
	border-left: 15px solid #3F7BED;
	border-bottom: 15px solid #FFFFFF;
}

.article-title {
	line-height:24px;
	font-weight:700;
	font-size:20px;
	color:#000000;
}

.article-introduction {
	height:95px;
	line-height:23px;
	font-size:14px;
	color:#999999;
}

.article-readnum {
	float: right;
	margin-left:10px;
	line-height: 24px;
	font-size: 12px;
	color: #999999;
}

.article-author {
	float: right;
	line-height: 24px;
	font-size: 12px;
	color: #999999;
}

.article-firstline {
	width:528px;
	height:31px;
}

.article-secondline {
	width:528px;
	height:25px;
	overflow:hidden;
	text-overflow:ellipsis;
}

.article-thirdline {
	width:528px;
	height:92px;
	overflow:hidden;
	text-overflow:ellipsis;
}

.article-forthline {
	width:528px;
	height:26px;
}

#page {
	width:840px;
	height:60px;
	background-color:#FFFFFF;
}