body {
	padding:0;  /*去除内边距*/
	border:0;   /*去除边框*/
	margin:0;   /*去除外边距*/
	
}

.page-header {
	position:fixed;
	width:100%;
	height:80px;
	background-color:#3F7BED;
	box-shadow:0px 2px 5px #888888;
	z-index:200;
}

.page-body {
	position:relative;
	width:100%;
	background-color:#F2F2F2;
	z-index:199;
	top:80px;
	padding-bottom:45px;
}

.page-footer {
	position:relative;
	top:80px;
	width:100%;
	height:220px;
	background-color:#2D3237;
	z-index:199;
}