.footer{position:relative;height:200px;width:1100px;left:50%;margin-left:-550px;color:#FFF}

.td1{width:100px;}
.td2{width:698px;padding:0px 40px;}
.td4{width:240px;padding:0px 30px;font-size:13px;}

.p1{font-size:24px;}
.p2{font-size:15px;}
.vertical-line{width:1px;height:140px;background:#FFF}