.header {
	position:relative;
	width:1100px;
	height:80px;
	left:50%;
	margin-left:-550px;
}

/* LOGO */
.logo {
	height:80px;
	float:left;
	margin-left:0px;
}

.logo > img {
	position:relative;
	height:52px;
	top:50%;
	margin-top:-26px;
}

/* 菜单 */
.menu {
	float:left;
	margin-left:50px;
}

.menu > ul {
	float:left;
	margin:0;
	padding:0;
}

.menu > ul > li {
	float:left;
	text-align:center;
	list-style:none;
}

.menu > ul > li > a:hover {
	color:#000000;
	background-color:#FFFFFF;
}

.menu-default {
	display:inline-block;
	width:100px;
	height:80px;
	line-height:80px;
	font-weight:400;
	font-size:20px;
	color:#FFFFFF;
	text-decoration:none;
	background-color:#3F7BED;
}

.menu-select {
	display:inline-block;
	width:100px;
	height:80px;
	line-height:80px;
	font-weight:400;
	font-size:20px;
	color:#000000;
	text-decoration:none;
	background-color:#FFFFFF;
}


.login {
	float:right;
	width:50px;
}

.login > img {
	position:relative;
	height:50px;
	margin:15px 0px 15px 0px;
}

.login-menu {
	display:none;
	position:relative;
	width:120px;
	left:-70px;
	background-color:#FFFFFF;
}

.login-menu > ul {
	margin:0;
	padding:0;
}

.login-menu > ul > li {
	width:120px;
	height:40px;
	text-align:center;
	list-style:none;
}

.login-menu > ul > li > a {
	width:120px;
	height:40px;
	display:inline-block;
	text-decoration:none;
	line-height:40px;
	font-weight:400;
	font-size:15px;
	color:#000000;
}

.login-menu > ul > li > a:hover {
	background-color:#3F7BED;
	color:#FFFFFF;
}