{__NOLAYOUT__}
<link type="text/css" href="__PUBLIC__/css/widget/special.css" rel="stylesheet"/>

<div class="wSpecial">
	<div class="wSpecial-title">
		<div>
		</div>
		<a>专辑精选</a>
	</div>
	<ul>
		<for start="0" end="3" name="specialIndex">
			<if condition="$specialImage[$specialIndex] neq NULL">
				<li>
					<img class="wSpecial-coverimage" src="{$specialImage[$specialIndex]}"/>
					<a href="{$specialHrefs[$specialIndex]}" target="_blank" class="wSpecial-maintitle"><nobr>{$specialMaintitle[$specialIndex]}</nobr></a>
					<a href="{$specialHrefs[$specialIndex]}" target="_blank" class="wSpecial-subhead"><nobr>{$specialSubhead[$specialIndex]}</nobr></a>
				</li>
			</if>
		</for>
	</ul>
</div>