<link type="text/css" href="__PUBLIC__/css/contribute.css" rel="stylesheet"/>
<link type="text/css" href="__PUBLIC__/css/wangEditor.css" rel="stylesheet">
<script type="text/javascript" src="__PUBLIC__/javascript/contribute.js"></script>

<div id="total-frame">
	<div id="right-frame">
		<div id="right-title">
			<a>我要投稿</a>
			<input type="button" value="预览" id="previewbutton" onclick="previewForm()"/>
			<input type="button" value="投稿" id="contributebutton" onclick="submitForm()"/>
		</div>
		<div id="right-content">
			<form id="information" enctype="multipart/form-data" method="post" >
				<table id="content-table"> 
					<tr>
						<td class="form-td1">
							<a class="form-label">主标题：</a>
						</td>
						<td class="form-td2">
							<input class="form-input" type="text" name="maintitle"/>
						</td>
						<td>
							<a class="form-tip">不超25字</a>
						</td>
					</tr>
					<tr>
						<td class="form-td1">
							<a class="form-label">副标题：</a>
						</td>
						<td>
							<input class="form-input" type="text" name="subhead"/>
						</td>
						<td>
							<a class="form-tip">不超30字</a>
						</td>
					</tr>
					<tr>
						<td class="form-td1">
							<a class="form-label">分类：</a>
						</td>
						<td>
							<select class="form-select" name="type1">
								<option value="1">技术开发</option>
								<option value="2">产品设计</option>
								<option value="3">商业经济</option>
								<option value="4">其他</option>
							</select>
						</td>
						<td>
							<a class="form-tip">对应的文章分类更易被推荐</a>
						</td>
					</tr>
					<tr>
						<td class="form-td1">
							<a class="form-label">简介：</a>
						</td>
						<td class="form-td3">
							<textarea id="form-textarea1" style="height:250px;" name="introduction"></textarea>
							<script type="text/javascript" src="__PUBLIC__/javascript/wangEditor.min.js"></script>
							<script type="text/javascript">
								var editor = new wangEditor('form-textarea1');
								editor.config.zindex = 201;
								editor.config.menus = [
									'bold',
									'underline',
									'italic',
									'strikethrough',
									'forecolor',
									'bgcolor',
									'quote',
									'unorderlist',
									'orderlist',
									'alignleft',
									'aligncenter',
									'alignright',
									'table',
									'eraser',
								];
								editor.config.menuFixed = false;
								editor.create();
							</script>
						</td>
						<td>
							<a class="form-tip">无格式文本不超1000字</a>
						</td>
					</tr>
					<tr>
						<td class="form-td1">
							<a class="form-label">逻辑图：</a>
						</td>
						<td class="form-td2">
							<input class="form-fileinput" type="file" name="mainimage"/>
						</td>
						<td>
							<div class="form-tip">内容丰富，逻辑清晰的图片更容易通过审核</div>
						</td>
					</tr>
				</table>
			</form>
		</div>
	</div>
	<div id="left-frame">
		<table id="top-table"> 
			<tr>
				<td>
					<img id="headimage" src="{$headimage}"/>
				</td> 
			</tr>
			<tr>
				<td>
					<a id="username">{$nickname}</a>
				</td> 
			</tr> 
		</table>
		<table id="bottom-table"> 
			<tr>
				<td class="column-select">
					<a href="{:U('Contribute/index')}">我要投稿<a/>
				</td> 
			</tr>
			<tr>
				<td class="column-default">
					<a>我的投稿</a>
				</td> 
			</tr>
			<tr>
				<td class="column-default">
					<a href="{:U('Collect/index')}">我的收藏<a/>
				</td> 
			</tr>
			<tr>
				<td class="column-default">
					<a href="{:U('Information/index')}">个人信息</a>
				</td> 
			</tr> 
		</table> 
	</div>
</div>
